body {
    background-color: #181818;
    color: #FFFFFF;
    font-family:Verdana;
}

#centerContent {
    margin: auto;
    margin-top: 100px;
    width: 600px;
}

a {
    color: #FFFFFF;
    text-decoration: underline;
}

a.hover {
	color: #383838;
}

h1 {
    font-family: Geogia;
    font-size: 3.5em;
    text-align: center;
}

th {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight:normal;
}


table {
	width: 100%;
	table-layout: fixed;
}
